* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 15px;
    overflow: auto;
    font-size: 14px;
}

.container {
    width: 100%; 
    height: 95%;
    display: flex;
}

pre, textarea {width: 100%; height: 100%;}

pre {
    background-color: #061628;
    color: #eeedff;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 1rem 2rem;
    margin: 0;
    white-space: pre-wrap;
}

pre code {
    white-space: pre-wrap;
    font-family: Consolas;
}

.blue {color: #8fcdff}
.green {color: #A3BE8C !important;}
.red {color: #ff7b72;}
.violet {color: #d2a8ff;}
.yellow {color: #ded269;}
.gray {color: #6c6f92;}


.mb-3 {margin-bottom: 30px;}