* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  overflow: auto;
  font-size: 16px;
  background-color: #061628;
  color: #fff;
  font-family: 'Noto San';
}

h1 {margin-top: 0; font-family: 'Poppins'; text-align: center; text-transform: uppercase;}

.container {
  width: 100%; 
  height: 90%;  
  display: flex;
  background-color: #0f253e;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}

.container>div{width: 100%; height: 100%; position: relative;}

#language {
  position: absolute;
  right: 10px;
  top: 10px;
}

pre, textarea {width: 100%; height: 100%; border: 0;}

select {padding: 10px 15px; outline: none; cursor: pointer;}

textarea {background-color: #061628; 
  color: rgb(233, 233, 233);
  border-right: 2px solid #0f253e; 
  resize: none; 
  outline: none;
  font-size: 16px;
}

.mb-3 {margin-bottom: 30px;}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #eeedff;
}

::-webkit-scrollbar-thumb:hover {
  background: #061628;
}

@media screen and (max-width: 900px) {
  .container {display: flex; flex-direction: column;}
  
  textarea { border-bottom: 2px solid #0f253e; }
}