* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  overflow: auto;
  font-size: 14px;
}

.container {
  width: 100%; 
  height: 95%;
  display: flex;
}

pre, textarea {width: 100%; height: 100%;}

pre {
  background-color: #061628;
  color: #eeedff;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 1rem 2rem;
  margin: 0;
  white-space: pre-wrap;
}

pre code {
  white-space: pre-wrap;
  font-family: Consolas;
}

.mb-3 {margin-bottom: 30px;}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #eeedff;
}

::-webkit-scrollbar-thumb:hover {
  background: #061628;
}