[data-theme="horizon-light"] {
  --hixo-bg: #fdf0ed;
  --hixo-fg: #333333;
  --hixo-method: #1d8991;
  --hixo-num: #dc3318;
  --hixo-string: #f6661e;
  --hixo-comment: #33333380;
  --hixo-keyword: #8a31b9;

  --hixo-variable: #da103f;

  --hixo-operator:#333333;  
  --hixo-data-type:#dc3318; /* Long, String, int .... */
}

[data-theme="ayu-light"] {
  --hixo-bg: #fafafa;
  --hixo-fg: #575f66;
  --hixo-method: #f07171;
  --hixo-num: #ff9940;
  --hixo-string: #86b300;
  --hixo-comment: #abb0b6;
  --hixo-keyword: #fa8d3e;

  --hixo-variable: #916319;

  --hixo-operator:#575f66;  
  --hixo-data-type:#f07171; /* Long, String, int .... */
}

[data-theme="coda"] {
  --hixo-bg: #fff;
  --hixo-fg: #000;
  --hixo-method: #881181;
  
  --hixo-num: #0F20F6;
  --hixo-string: #ED7722;
  --hixo-comment: #3C802C;
  --hixo-keyword: #AA1F63;
  --hixo-variable: #916319;

  --hixo-operator:#000000;  
  --hixo-data-type:#000000; /* Long, String, int .... */
}

[data-theme="eclipse"] {
  --hixo-bg: #fff;
  --hixo-fg: #141414;
  --hixo-method: #6f42c1;
  
  --hixo-num: #005cc5;
  --hixo-string: #17c700;
  --hixo-comment: #6a737d;
  --hixo-keyword: #7F0056;
  --hixo-variable: #dc7c23;

  --hixo-operator:#7F0056;  
  --hixo-data-type:#009688; /* Long, String, int .... */
}

[data-theme="chrome"] {
  --hixo-bg: #f1f3f4;
  --hixo-fg: #37474f;
  --hixo-method: #9c27b0;
  --hixo-num: #c53929;
  --hixo-string: #0d904f;
  --hixo-comment: #d81b60;
  --hixo-keyword: #3b78e7;
  --hixo-variable: #c53929;
  --hixo-operator:#f92672;  
  --hixo-data-type:#3b78e7;
}

[data-theme="playpen"] {
  --hixo-bg: #f1f1f1;
  --hixo-fg: #333;
  --hixo-method: #0030f2;
  --hixo-data-type:#b21e00;
  --hixo-num: #b21e00;
  --hixo-string: #60ac39;
  --hixo-comment: #AAA;
  --hixo-keyword: #9d00ec;
  --hixo-variable: #333;
  --hixo-operator:#333;  
}