* {
  box-sizing: border-box;
}

:root {
  --dark:#2d2d35;
}

body {
  margin: 0;
  background-color: #e7e7e7;
  font-size: 14px;
  font-family: 'Noto San';
}

header {
  text-align: center;
  margin-bottom: 15px;
}

nav {
  width: 100%;
  height: 100%;
  background-color: #2d2d35;
  color: #eeedff;  
  padding: 10px 50px;
  box-shadow: 0px 3px 7px rgb(0 0 0 / 35%);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;  
  padding: 20px 50px;
}

section {margin-bottom: 30px;}

h1,
h2,
h4,
label {  
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Poppins';
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {font-family: 'Poppins'; font-size: 16px; margin: 0;}

h1 {
  color: #32cd31;
  font-size: 45px;
}

.btn,button,
select,input {
  background: var(--dark);  
  color: #fff;
  border-radius: 4px;
  border: solid 2px #666;  
  padding: 10px;
  line-height: 1.15;
  margin-bottom: 15px;
  appearance: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: all .25s;
}

input,select {margin-top: 5px;}

a {
  text-decoration: none;
}

button:hover {
  background-color: #32cd31;
}
/**********************/
.editor { height: 520px; }

pre,
textarea,
.bloc {
  font-size: 16px;
  width: 100%;  
  border: 0;  
}

.pre-container {background-color: var(--hixo-pre-bg);}
.pre-container,textarea { height: 100%; box-shadow: 0 1px 2px 0 rgba(60,64,67,.3); }

textarea {
  background-color: #fff;
  color: #000;  
  padding: 16px;
  resize: none;
  outline: none;
}

.pre-header {
  height: 40px; 
  width: 100%;
  border-bottom: 1px solid #3b424e;
  display: flex;
  align-items: center;  
}

.bloc,.pre-header{ padding: 14px; }

.bloc {
  background-color: #fff;
  color: #000;  
}
/***********************/
.gutter:hover {background-color: #545463; cursor: col-resize !important;}

.d-flex{display: flex; align-items: center;}
.justify-between { justify-content:space-between;}

.flex-column {flex-direction: column;}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.m-0 {margin: 0;}
.mt-0 {margin-top: 0;}

.w-100 {width: 100%;}

.bg-dark {background-color: var(--dark); color: #fff;}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #eeedff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2d35;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}