:root {  
  --hixo-method:#8fcdff;
  --hixo-num:#d2a8ff;
  --hixo-string:#f3e880;
  --hixo-comment:#b1b1b1;
  --hixo-keyword:#f92672;
  --hixo-variable:#dc7c23;

  --hixo-operator:#f92672; /* + - / * ^ ..... */
  --hixo-sp-keys:#d2a8ff; /* Long, String .... */

  --hixo-pre-bg:#061628;
  --hixo-pre-color:#eeedff;
}

pre {  
  background-color: var(--hixo-pre-bg);
  color: var(--hixo-pre-color);
  overflow: auto;
  overflow-wrap: break-word;
  padding: 1rem 2rem;
  margin: 0;
  white-space: pre-wrap;
}

pre code {
  white-space: pre-wrap;
  font-family: Consolas;
}

.hixo-pre-color {color:var(--hixo-pre-color)}

.hixo-method {color:var(--hixo-method)}
.hixo-num {color: var(--hixo-num);}
.hixo-string {color: var(--hixo-string);}

.hixo-keyword {color: var(--hixo-keyword);}
.hixo-comment {color: var(--hixo-comment);}
.hixo-variable {color: var(--hixo-variable);}

.hixo-sp-keys {color: var(--hixo-sp-keys);}
.hixo-operator {color: var(--hixo-operator);}

.hixo-italic {font-style: italic;}
