.hixo-blue {color: #8fcdff}
.hixo-green {color: #A3BE8C !important;}
.hixo-red {color: #ff7b72;}
.hixo-violet {color: #d2a8ff;}
.hixo-yellow {color: #f3e880;}
.hixo-gray {color: #ae81ff;}
.hixo-rose {color: #f92672;}
.hixo-muted {color: #b1b1b1;}
