:root {
  --hixo-pre-bg:#061628;
  --hixo-pre-color:#eeedff;
  --hixo-blue:#8fcdff;
  --hixo-violet:#d2a8ff;
  --hixo-yellow:#f3e880;
  --hixo-gray:#b1b1b1;
  --hixo-pink:#f92672;
  --hixo-orange:#dc7c23;
}

pre {  
  background-color: var(--hixo-pre-bg);
  color: var(--hixo-pre-color);
  overflow: auto;
  overflow-wrap: break-word;
  padding: 1rem 2rem;
  margin: 0;
  white-space: pre-wrap;
}

pre code {
  white-space: pre-wrap;
  font-family: Consolas;
}

.hixo-blue {color:var(--hixo-blue)}
.hixo-violet {color: var(--hixo-violet);}
.hixo-yellow {color: var(--hixo-yellow);}

.hixo-pink {color: var(--hixo-pink);}
.hixo-gray {color: var(--hixo-gray);}
.hixo-orange {color: var(--hixo-orange);}

.hixo-italic {font-style: italic;}
